target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
logs
*.log
.sonar
*.epoch
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
tmlog.lck